* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  color: white;
  background-image: url("./img/images.jfif");
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;    
}

.wrapper {
  display: flex;
  z-index: 0;
  min-height: 50vh;
  min-width: 60vw;
  box-shadow: 2px 2px 2px 1px rgba(33, 41, 44, 0.75);
    -webkit-box-shadow: 1px 1px 5px 0px rgba(71, 118, 137, 0.75);
    -moz-box-shadow: 1px 1px 5px 0px rgba(71, 118, 137, 0.75);
}

h3 {
  font-weight: 600;
  padding-top: 1.8rem;
}

.text-item {
  font-size: 20px;
}

.current-info {
  position: relative;
  display: flex;
}

.weather-info {
  position: absolute;
  top: 1.875rem;
  right: 35rem;
}

#temp {
  font-size: 3.125rem;
}

#country {
  font-size: 1.875rem;
  margin-top: 0.3rem;
}

#current-date {
  margin-top: 0.3rem;
  font-size: 1.125rem;
}

#current-time {
  margin-top: 0.3rem;
  font-size: 1.125rem;
}

#description {
  padding: 2px;
  font-size: 1.063rem;
}

.current-weather-items {
  display: grid;
  background-color: #6C99AE;
  padding: 1.25rem;
  font-size: 1.125rem;
} 

.weather-item {
  display: flex;
  justify-content: space-between;
}

#dynamicImg {
  line-height: 0;
  min-width: 70%;
}

.current-weather-items {
  width: 30%;
}

/* ============ Styles for future forecast =====================

 .future-forecast {
  background: rgba(101, 189, 230, 0.6);
  padding: 25px;
  position: fixed;
  bottom: 0;
  display: flex;
  color: white;
  width: 100%;
  height: 20%;
  align-items: center;
  justify-content: center;
  overflow-y: hidden;
}

.future-forecast .today .temp {
  font-size: 18px;
  padding-top: 15px;
}

.future-forecast .weather-forecast {
  display: flex;
}

.weather-forecast .weather-forecast-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
  padding: 15px;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.2);
}

.weather-forecast .weather-forecast-item .day {
  padding: 5px 15px;
  background: #56add8;
  border-radius: 50px;
  text-align: center;
}

.weather-forecast .weather-forecast-item .temp {
  font-weight: 100;
  font-size: 16px;
} 

.w-icon {
  width: 22px;
}*/